.Results {
  margin-top: 30px;
}

.Results .word-section {
  background-color: #113f67;
  padding: 20px;
  border-radius: 8px;
  margin: 10px auto;
  text-align: center;
  color: white;
}

.Results .word-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
